.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
}

.h1 {
    background: linear-gradient(90deg, rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    text-transform: uppercase;
    /* max-width: 240px; */
    font-family: "Exo 2", sans-serif;
    margin: 0;
}

.popularFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1,275px); */
    gap: 20px;
    margin-top: 50px;
    overflow:hidden;
}

.popularBox {
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: 100%;
    /* max-height: 276px; */
    display: flex;
    transition: 0.2s;
    padding: 10px;
}

.img {
    width: 180px;
    border-radius: 10px;
}

.popularBox:hover {
    background-color: rgb(5, 5, 5,0.8);
}

.padding {
    padding: 0 16px;
    border-radius: 15px;
}

.absoluteText {
    color: rgb(219, 218, 218);
    margin: 0;
    /* word-break: break-all; */
    /* text-align: center; */
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.genres {
    color: rgb(153, 153, 153);
    /* text-align: center; */
    font-size: 14px;
    margin:5px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.series {
    color: rgb(206, 206, 206);
    /* text-align: center; */
    font-size: 14px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;

}


@media (max-width: 1010px) {
    .popularFlex {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 500px) {
    .h1 {
        font-size: 24px;
    }

    .img {
        width: 140px;
    }

    .popularFlex {
        margin-top: 20px;
        gap: 30px;
    }
}

@media (max-width:420px) {
    .popularBox {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .imgBox {
        text-align: center;
    }

    .img {
        width: 75%;
    }

    .absolute {
        margin-top: 20px;
    }

    .absoluteText {
        font-size: 22px;
    }
}