.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
}

.img {
    border-radius: 15px;
    max-width: 350px;
}

.flexHeader {
    display: flex;
    gap: 50px;
}

.h1 {
    color: #e4e4e4;
    font-size: 40px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    margin-top: 30px;
}

.text {
    color: rgb(153, 153, 153);
}

.textMain {
    color: #e4e4e4;
    margin: 0;
}

.ongoing {
    border: solid 1px #d56f1a;
    border-radius: 8px;
    color: #d56f1a;
    /* background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.flex {
    display: flex;
    gap: 30px;
    align-items: center;
}

.ongoingText {
    margin: 0;
    padding: 5px 10px;
    border-radius: 8px;
}

.textMenuGray {
    color: rgb(153, 153, 153);
}

.textMenu {
    color: #e4e4e4;
}

.textDescription {
    color: #e4e4e4;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.line {
    width: 100%;
    background: #323232;
    margin-top: 50px;
    /* background: linear-gradient(90deg,rgba(245, 189, 36, 1) 0%, rgba(255, 75, 38, 1) 100%); */
    height: 2px;
    border-radius: 50%;
}

.h2 {
    background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    max-width: 150px;
}

.episodesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.imgPreview {
    width: 100%;
    border-radius: 15px;
}

.preview {
    border-radius: 15px;
    position: relative;
    height: 166px;
    background-color: #252525;
    cursor: pointer;
}

.previewText {
    color: #e4e4e4;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.previewTextMax {
    color: #e4e4e4;
    margin: 0;
    font-size: 16px;
}

.previewAbsolute {
    /* padding: 10px; */
    position: absolute;
    z-index: 10;
    background-color: rgb(5, 5, 5,0.7);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 56px;
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}

.iframe {
    /* position: fixed; */
    border: none;
    aspect-ratio: 16/9;
    width: 100%;
}

.modal {
    background-color: transparent;
}

.flexFranchise {
    display: flex;
    /* gap: 30px; */
    margin-bottom: 15px;
    background-color: #252525;
    /* padding: 15px; */
    padding-left: 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
}

.flexFranchiseFlex {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 15px;
}

.flexFranchise:hover {
    background-color: #1f1f1f;
}

.imgFranchise {
    width: 100px;
    border-radius: 10px;
}

.h3 {
    color: #e4e4e4;
    font-size: 22px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
}

.yearFranchises {
    color: rgb(153, 153, 153);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 40px;
}

.textFranchise {
    color: #e4e4e4;
    font-size: 18px;
    margin: 0;
}

.textFranchiseEn {
    color: rgb(153, 153, 153);
    font-size: 16px;
    margin: 5px 0px;
}

.flexFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.FranchisesNum {
    font-size: 40px;
    margin: 0;
    background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FranchisesNumGray {
    font-size: 40px;
    margin: 0;
    color: rgb(153, 153, 153);
}

.lineVert {
    width: 5px;
    height: 150px;
    background: linear-gradient(180deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    border-radius: 10px;
    margin-right: 0px;
}

.lineVertNone {
    background-color: transparent;
    border-radius: 10px;
    margin-right: 0px;
    width: 5px;
    height: 150px;
}