.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
    min-height: 80vh;
}

.img {
    border-radius: 15px;
    max-width: 350px;
    width: 75%;
}

.flexHeader {
    display: flex;
    gap: 50px;
    width: 100%;
}

.h1 {
    color: #e4e4e4;
    font-size: 40px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    margin-top: 30px;
}

.text {
    color: rgb(153, 153, 153);
}

.textMain {
    color: #e4e4e4;
    margin: 0;
}

.ongoing {
    border: solid 1px #d56f1a;
    border-radius: 8px;
    color: #d56f1a;
    /* background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.flex {
    display: flex;
    gap: 30px;
    align-items: center;
}

.flexBtn {
    display: flex;
    gap: 10px;
}

.ongoingText {
    margin: 0;
    padding: 5px 10px;
    border-radius: 8px;
}

.textMenuGray {
    color: rgb(153, 153, 153);
}

.textMenu {
    color: #e4e4e4;
}

.textDescription {
    color: #e4e4e4;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.line {
    width: 100%;
    background: #323232;
    margin-top: 50px;
    /* background: linear-gradient(90deg,rgba(245, 189, 36, 1) 0%, rgba(255, 75, 38, 1) 100%); */
    height: 2px;
    border-radius: 50%;
}

.h2 {
    background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    max-width: 150px;
}

.episodesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    gap: 20px;
}

.imgPreview {
    width: 100%;
    border-radius: 15px;
}

.preview {
    border-radius: 15px;
    position: relative;
    height: 166px;
    background-color: #252525;
    cursor: pointer;
}

.previewActive {
    border-radius: 15px;
    position: relative;
    height: 166px;
    background-color: #252525;
    cursor: pointer;
    border:#d56f1a solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.previewText {
    color: #e4e4e4;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.previewTextMax {
    color: #e4e4e4;
    margin: 0;
    font-size: 16px;
}

.previewAbsolute {
    /* padding: 10px; */
    /* position: absolute; */
    z-index: 10;
    background-color: rgb(5, 5, 5,0.7);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 56px;
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}

.iframe {
    /* position: fixed; */
    border: none;
    /* aspect-ratio: 16/9; */
    width: 100%;
}

.modal {
    background-color: transparent;
}

.flexFranchise {
    display: flex;
    /* gap: 30px; */
    margin-bottom: 15px;
    background-color: #252525;
    /* padding: 15px; */
    padding-left: 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
}

.flexFranchiseFlex {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 15px;
}

.flexFranchise:hover {
    background-color: #1f1f1f;
}

.imgFranchise {
    width: 100px;
    border-radius: 10px;
   
}

.h3 {
    color: #e4e4e4;
    font-size: 22px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
}

.yearFranchises {
    color: rgb(153, 153, 153);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 40px;
}

.textFranchise {
    color: #e4e4e4;
    font-size: 18px;
    margin: 0;
}

.textFranchiseEn {
    color: rgb(153, 153, 153);
    font-size: 16px;
    margin: 5px 0px;
}

.flexFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.FranchisesNum {
    font-size: 40px;
    margin: 0;
    background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FranchisesNumGray {
    font-size: 40px;
    margin: 0;
    color: rgb(153, 153, 153);
}

.lineVert {
    width: 5px;
    height: 150px;
    background: linear-gradient(180deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    border-radius: 10px;
    margin-right: 0px;
}

.lineVertNone {
    background-color: transparent;
    border-radius: 10px;
    margin-right: 0px;
    width: 5px;
    height: 150px;
}

.modalModal {
    width: 45%;
    min-width: 354px;
}

.input {
    background-color: #2e2e2e;
    color: #e4e4e4;
    border-radius: 15px;
}

.inputBox {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btnSort {
    background-color: #252525;
    border: solid #d56f1a 1px;
    padding: 10px;
    height: auto;
}

.starBtn {
    padding: 8px 10px;
    border: solid 1px rgb(153, 153, 153);
    background-color: transparent;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.2s;
    width: 150px;
    /* justify-content: center; */
}

.listBtn {
    padding: 8px 10px;
    border: solid 1px rgb(153, 153, 153);
    background-color: transparent;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.2s;
    /* width: 150px; */
}

.headerMenuDropdownText {
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e4e4e4;
    background-color: transparent;
    border: none;
    padding: 3px 0px;
    width: 100%;
}

.starBtnActive {
    padding: 8px 10px;
    border: solid 1px #d56f1a;
    background-color: transparent;
    color: #d56f1a;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.2s;
    width: 150px;
    /* justify-content: center; */
}

.listBtn:hover {
    color: #d56f1a;
    border: solid 1px #d56f1a;
}

.starBtn:hover {
    color: #d56f1a;
    border: solid 1px #d56f1a;
}

.btnNext {
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(26, 25, 25);
    padding: 8px 10px;
    border: solid 1px rgb(153, 153, 153);
    color: #e4e4e4;
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnNext:hover {
    background-color: #1f1f1f;
}

.boxBtnNext {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.h1Skeleton {
    width: 40px;
}

@media (max-width: 770px) {
    .flexHeader {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}

@media (max-width: 600px) {
    .preview {
        height: 240px;
    }

    .previewActive {
        height: 240px;
    }
}

@media (max-width: 375px) {
    .preview {
        height: 200px;
    }

    .previewActive {
        height: 200px;
    }

    .textFranchise {
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .textFranchiseEn {
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .imgFranchise {
        width: 80px;
    }

    .btnNext {
        font-size: 14px;
        padding: 5px 8px;
    }
}

@media (max-width: 550px) {
    .textDescription {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .textFranchise {
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .textFranchiseEn {
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .imgFranchise {
        width: 80px;
    }

    .h1 {
        font-size: 32px;
        line-height: 1.1;
    }
}