.header {
    background-color: #000000;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 100;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    margin: 0;
    color: #e4e4e4;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
}

.headerMenuHref {
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: #2e2e2e;
    color: #e4e4e4;
    border-radius: 15px;
}

.searchText {
    color: #e4e4e4;
    margin: 0;
}

.searchActive {
    position: absolute;
    top: 53px;
    background-color:#0c0c0c ;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    max-height: 400px;
    width: 290px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchTextNone {
    color: #e4e4e4;
    text-align: center;
}

.img {
    width: 45px;
    border-radius: 5px;
}

.flexSearch {
    display: flex;
    gap: 15px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}

.flexSearch:hover {
    background-color: #252525;
}

.searchActiveNone {
    display: none;
}