.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 40px;
}

.h2 {
    background: linear-gradient(90deg,rgba(244, 227, 121, 1) 0%, rgba(204, 81, 59, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    text-transform: uppercase;
    /* max-width: 240px; */
    font-family:  "Exo 2", sans-serif;
}

.popularFlex {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-rows: repeat(1,275px);
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.popularBox {
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: 100%;
    max-height: 276px;
    max-width: 190px;
}

.img {
    width: 100%;
    border-radius: 15px;
    height: 275px;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.more {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family:  "Exo 2", sans-serif;
    padding: 0;
}


.absolute {
    position: absolute;
    height: 276px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgb(5, 5, 5,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s, visibility 0.2s;
    opacity: 0;
    visibility: hidden;
}


.popularBox:hover .absolute {
    position: absolute;
    height: 276px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgb(5, 5, 5,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;   
    visibility: visible;
}

.padding {
    padding: 16px;
    border-radius: 15px;
}

.absoluteText {
    color: rgb(219, 218, 218);
    margin: 0;
    /* word-break: break-all; */
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
           line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.genres {
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 14px;
}

.series {
    color: rgb(206, 206, 206);
    text-align: center;
    font-size: 14px;
}


@media (max-width: 440px) {
    .popularFlex {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1,1fr);
    }
    
    .img {
        height: auto;
    }

    .absolute {
        height: 100%;
    }
    
    .container {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .padding {
        padding: 0;
    }

    .absoluteText {
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 500px)  {
    .h2 {
        font-size: 24px;
    }
}